.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, auto));
  gap: 12px;
}
.categories__block {
  padding: 24px 36px 46px;
  background: var(--primary_bg);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px 24px;
  align-items: center;
}

.categories__block ul {
  grid-column: 1/-1;
}

.categories__cover {
  max-width: 170px;
  border-radius: 4px;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
  z-index: 1;
  width: 100%;
}

.categories__cover:hover .categories__cover::before {
  opacity: 1;
}

.categories__cover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  opacity: 0;
}

.categories__cover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  background: var(--secondary_bg);
  z-index: 4;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.categories__cover:hover::after {
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.05);
}

.categories__info {
  color: var(--secondary);
}

.categories__title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 22px;
}

.categories__name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.categories__number-of-songs {
  font-size: 14px;
  font-weight: 400;
}

.categories__top-songs {
  margin-top: 10px;
}

.categories__number-of-songs,
.categories__top-songs span {
  color: var(--secondary_bg);
}
