.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, auto));
  gap: 12px;
}
.categories__block {
  padding: 24px 36px 46px;
  background: var(--primary_bg);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px 24px;
  align-items: center;
}

.categories__block ul {
  grid-column: 1/-1;
}

.categories__cover {
  max-width: 170px;
  border-radius: 4px;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
  z-index: 1;
  width: 100%;
  align-self: center;
}

.categories__cover:hover .categories__cover::before {
  opacity: 1;
}

.categories__info {
  color: var(--secondary);
}

.categories__title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 22px;
}

.categories__name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.categories__number-of-songs {
  font-size: 14px;
  font-weight: 400;
}

.categories__top-songs {
  margin-top: 10px;
}

.categories__number-of-songs,
.categories__top-songs span {
  color: var(--secondary_bg);
}

@media screen and (max-width: 992px) {
  .categories__block {
    padding: 20px 15px 36px;
  }
}

@media screen and (max-width: 545px) {
  .categories__block {
    grid-template-columns: 1fr;
    padding: 15px 10px 20px;
  }

  .categories__info {
    grid-row: 1/2;
  }
}
