.content {
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__add-btn {
  font-weight: 600;
  line-height: 22px;
  padding: 6px 36px;
}

@media screen and (max-width: 768px) {
  .content__header {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
