.panel .conatiner {
  display: flex;
  align-items: center;
}

.panel .conatiner + * {
  margin-top: 36px;
}

.panel__wrapper-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel__form-wrapper,
.panel__buttons-wrapper {
  display: flex;
}

.panel__form-wrapper {
  gap: 30px;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 36px;
}

.panel__buttons-wrapper {
  gap: 10px;
}

.add-plalist .btn {
  height: 36px;
  padding-left: 36px;
  padding-right: 36px;
}
