.playlist {
  margin-top: 36px;
  padding-bottom: 40px;
}

.playlist__list {
  display: grid;
  gap: 12px;
}

.playlist__list + .playlist__list {
  margin-top: 12px;
}

.palylist__item {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background: var(--primary_bg);
  border-radius: 4px;
  gap: 12px;
}

.palylist__item.version-grid {
  padding: 0;
}

.playlist__drag-track {
  display: none;
  color: var(--secondary);
  width: 16px;
  height: 16px;
  cursor: grab;
}

.playlist__drag-track:active {
  cursor: grabbing;
}

.playlist__drag-track.active {
  display: block;
}

.playlist__cover {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.playlist__cover img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.playlist__track {
  flex-grow: 1;
}

.palaylist__track-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  flex-shrink: 2;
}

.playlist__track-name {
  color: var(--secondary_bg);
}

.playlist__track audio {
  height: 24px;
  margin-top: 10px;
  filter: invert(1);
}

.playlist__track audio::-webkit-media-controls-enclosure {
  border-radius: 4px;
}

@media screen and (max-width: 992px) {
  .playlist__track audio {
    height: 24px;
    margin-top: 10px;
    width: 100%;
  }
}
