@import url("styles/wrapper.css");
@import url("styles/buttons.css");
@import url("styles/title.css");
@import url("styles/header.css");
@import url("styles/logo.css");
@import url("styles/container.css");
@import url("styles/content.css");
@import url("styles/panel.css");
@import url("styles/form.css");
@import url("styles/sort.css");
@import url("styles/playlist.css");
@import url("styles/categories.css");
@import url("styles/player.css");

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Regular.eot?") format("eot"),
    url("../src/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../src/assets/fonts/SFUIDisplay-Regular.eot?") format("eot"),
    url("../src/assets/fonts/SFUIDisplay-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../src/assets/fonts/SFUIDisplay-Medium.eot?") format("eot"),
    url("../src/assets/fonts/SFUIDisplay-Medium.eot") format("woff2"),
    url("../src/assets/fonts/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../src/assets/fonts/SFUIDisplay-Bold.eot?") format("eot"),
    url("../src/assets/fonts/SFUIDisplay-Bold.eot") format("woff2"),
    url("../src/assets/fonts/SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol[class],
ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

body[data-theme="dark"] {
  --primary: #121212;
  --secondary: #fff;
  --accent: #f6bd41;
  --primary_bg: rgba(29, 29, 29, 1);
  --secondary_bg: rgba(150, 150, 150, 1);
  --audioControlsColor: invert(1);
  --opposite_accent_color: #9c3232;
}

body[data-theme="light"] {
  --primary: #d9d9d9;
  --secondary: #000;
  --accent: #9c3232;
  --primary_bg: rgb(186 186 186);
  --secondary_bg: rgb(79 109 118);
  --audioControlsColor: invert(0.1);
  --opposite_accent_color: #f6bd41;
}

*::-webkit-scrollbar {
  width: 14px;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--accent);
}

body {
  font-family: "SF UI Display", sans-serif;
  font-size: 16px;
}
