@import url('styles/wrapper.css'); 
@import url('styles/buttons.css'); 
@import url('styles/title.css'); 
@import url('styles/header.css'); 
@import url('styles/logo.css'); 
@import url('styles/container.css'); 
@import url('styles/content.css'); 
@import url('styles/panel.css'); 
@import url('styles/form.css'); 
@import url('styles/sort.css'); 
@import url('styles/playlist.css'); 
@import url('styles/categories.css'); 
@import url('styles/player.css'); 

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.eot?") format("eot"),
    url("./fonts/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("./fonts/SFUIDisplay-Regular.eot?") format("eot"),
    url("./fonts/SFUIDisplay-Regular.woff2") format("woff2"),
    url("./fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("./fonts/SFUIDisplay-Medium.eot?") format("eot"),
    url("./fonts/SFUIDisplay-Medium.eot") format("woff2"),
    url("./fonts/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("./fonts/SFUIDisplay-Bold.eot?") format("eot"),
    url("./fonts/SFUIDisplay-Bold.eot") format("woff2"),
    url("./fonts/SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol[class],
ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

:root {
  --primary: #121212;
  --secondary: #fff;
  --accent: #f6bd41;
  --primary_bg: rgba(29, 29, 29, 1);
  --secondary_bg: rgba(150, 150, 150, 1);
}

body {
  font-family: "SF UI Display", sans-serif;
  font-size: 16px;
}